.drop_div{
  width: 250px;
  height: 250px;
  border: 1px dotted white;
}


.button {
  background-color: #1da1f2;
  color: #ffffff;
  border: none;
  outline: none;
  user-select: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  border-radius: 20px;
  padding: 6px 16px;
  box-shadow: 2px 2px 4px gray;
  transition: 0.2s;
  margin: 0 10px 0 10px;
}

.button:hover{
  background-color: #006dbf;
}
.button:active {
  transform: scale(0.97);
  box-shadow: inset 2px 2px 4px gray;
}

.input-number {
  padding: 5px 10px;
  outline: none;
  background: none;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 18px;
  margin: 5px;
}

.input__label .input:focus {
  box-shadow: 2px 2px 4px gray;
  outline: none;
}

.update-form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__label {
  width: 320px;
  font-size: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.input__label input {
  width: 180px;
  font-size: 80%;
}

.text_response{
  font-size: 80%;
}

.avatar {
  border-radius: 50%;
  margin: 10px;
}

.btn-edit {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: bold;
  outline: none;
}

.btn-edit:hover {
  background-color: grey;
}

@media (min-width: 480px)  {
  .input__label {
    width: 380px;
    font-size: 90%;
  }
  
  .button {
    font-size: 90%;
  }
  .input__label input {
    width: 240px;
    font-size: 90%;
  }
  .span-error,
  .text_response{
    font-size: 90%;
  }
}

@media (min-width: 640px)  {
  .input__label {
    width: 380px;
    font-size: 90%;
  }
  .button {
    font-size: 90%;
  }
  .valid-error,
  .input__label input {
    width: 240px;
    font-size: 90%;
  }
  .span-error,
  .text_response{
    font-size: 90%;
  }
}

@media (min-width: 768px)  {
  .input__label {
    width: 380px;
    font-size: 100%;
  }
  .button {
    font-size: 100%;
  }
  .valid-error,
  .input__label input {
    width: 240px;
    font-size: 100%;
  }
  .span-error,
  .text_response{
    font-size: 100%;
  }
}

.userInfo{
  right: 0;
  width: 100%;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo img{
  width: 40%;
}

.avatar{
  max-width: 250px;
  max-height: 250px;
}