.layout-block {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    box-shadow: 0 0 25px 20px black;
}

.layout-block-page {
    background: url("../../assets/img/img1.jpg") 0 50% no-repeat;
    background-size: cover;
    min-height: 100vh;
    box-shadow: 0 0 15px 5px white;
    position: relative;
}

