
.button-search{
  margin-bottom: 15px;
}



.search-user-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    min-height: 250px;
}

.block-search {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
