.search-wrap {
  padding: 20px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.revers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 480px)  {
  .revers {
    width: 90%
  }
}

@media (min-width: 640px)  {
  .revers {
    width: 80%
  }
}

@media (min-width: 768px)  {
  .revers {
    width: 700px;
  }
}