.header {
  font-size: 18px;
  color: grey;
  position: relative;
  right:  0;
  border-bottom: 1px solid white;
  z-index: 10;
  width: 30%;
}

.avatar-img {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header__item:active,
.header__item:hover  {
  color: #0023ff;
}

.nav-menu-ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

a {
  margin: 20px;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.exit {
  cursor: pointer;
}

.header__link--active {
  color: #0023ff;
  padding-bottom: 5px;
}

.header .icon-user-check,
.header .icon-man-woman,
.header .icon-users,
.header .icon-file-text2,
.header .icon-home3,
.header .icon-search,
.header .icon-enter,
.header .icon-exit {
  font-size: 20px;
}
.header .icon-user-check:hover,
.header .icon-man-woman:hover,
.header .icon-users:hover,
.header .icon-file-text2:hover,
.header .icon-home3:hover,
.header .icon-search:hover,
.header .icon-enter:hover,
.header .icon-exit:hover{
  color: #0023ff;
}

.header__item {
  list-style: none;
  margin: 10px;
  font-size: 75%;
}

.header__span-text{
  display: none;
}

.header__span-text{
  font-size: 18px;
  text-align: center;
}

@media (min-width: 480px)  {
  .header__item {
    font-size: 85%;
  }
}

@media (min-width: 640px)  {
  .header__item {
    font-size: 90%;
  }
}

@media (min-width: 768px)  {
  .header__item {
    font-size: 100%;
  }
  .header__span-text{
    display: inline-block;
  }
  
}

