.user-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*background: url("../../assets/img/img1.jpg") 0 50% no-repeat;*/
  /*background-size: cover;*/
}

.user-wrap{
  border: 1px solid #e6ecf0;
  box-shadow: 2px 2px 4px gray;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  height: 160px;
}
.user-login{
  margin:  0 20px;
}

.followers-border {
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}